body {
  background-color: black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
}
header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  padding: 8px;
  box-sizing: border-box;

}
#toplogo-box {
  width: 450px;
  height: 100px;
  display: flex;
  align-items: center;
}
#toplogo {
  width: 97px;
  height: 72px;
  border-radius: 100px;
  background-color: #ffffff;

}
#menu-box {
  display: flex;
  gap: 16px;

}
.menu {
  font-weight: bold;
  color: #ffffff;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 132px 0 0;
  gap: 24px;
}
#inquiry {
  width: 1000px;
  height: 860px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
#inquiry-box1{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
#box1-text1{
  font-size: 32px;
  font-weight: bold;
  color: #ffffff;
}
#box1-text2{
  color: #ffffff;
}
#inquiry-box2{
  width: 100%;
  height: 700px;
  border-bottom: 1px solid #5a5a5a;
  border-top: 1px solid #5a5a5a;
  padding: 16px;
  box-sizing: border-box;
}
#box2-text1{
  color: #ffffff;
}
#inquiry-box3{
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}